.btn {
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/* Botones negros */
.btn-dark {
  background-color: #000000;
  color: white;
}

/* Botones azules */
.btn-blue {
  background-color: blue;
  color: white;
}

.btn-azu {
  background-color: azure;
  color: #000000;
}

.actions .import {
  background-color: #DCDCDC;
  color: #000000;
}